//colors
$background: #10100e
$font: #efefd3
// $font: #ffffe3
$fonttrans: #b9b9a8dd
$invert: #00001c
// $action: #6A79C7
// $glass: #7474741d
$glass: #75757522
$glassHover: #9e9c9c22
// $action: #7c073c
$action: #ffffeb1f

//font-sizes
$navSize: 48pt

//spacing
$spacing-xs: 8px
$spacing-s: 16px
$spacing-m: 32px
$spacing-ml: 48px
$spacing-l: 64px

//breakpoints
$logoBreakpoint1: 960px //also in java code in the page component
$logoBreakpoint2: 620px

//transitions
$transition-logo: .4s

//measures
$pageWidth: min(calc(100% - 10vw), 1400px)
