.about
    display: grid
    grid-template-columns: auto minmax(auto, 628px)
    gap: 64px
    margin-top: 32px

    @media screen and (max-width: 850px)
        display: flex
        flex-direction: column
        gap: 64px

.aboutColumn
    display: flex
    flex-direction: column
    gap: 64px

.caseCard
    background: $glass
    border-radius: 5px
    backdrop-filter: blur(2px)
    display: flex
    gap: 16px
    justify-content: space-between
    padding: 16px
    transition: background .2s

    &:hover
        background: $glassHover

.cardText
    display: flex
    flex-direction: column
    gap: 4px

.cardImg
    width: 40%
    overflow: hidden
    border-radius: 5px
    aspect-ratio: 16/9
    background: #ffffff18
