.about
    display: grid
    grid-template-columns: auto minmax(auto, 628px)
    gap: 64px
    margin-top: 32px

    @media screen and (max-width: 850px)
        display: flex
        flex-direction: column
        gap: 64px

.aboutColumn
    display: flex
    flex-direction: column
    gap: 64px

.caseCardCont
    display: flex
    flex-direction: column
    gap: 16px

.caseCard
    background: $glass
    border-radius: 5px
    backdrop-filter: blur(2px)
    display: flex
    gap: 16px
    justify-content: space-between
    padding: 16px
    transition: background .2s

    &:hover
        background: $glassHover

.cardText
    display: flex
    flex-direction: column
    gap: 4px
    max-width: 50%

.cardImgCont
    width: 40%
    overflow: hidden
    border-radius: 5px
    aspect-ratio: 16/9
    background: #ffffff18
    position: relative

    @media screen and (max-width: $logoBreakpoint2)
        aspect-ratio: 4/3

.cardImg
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    top: 0
    left: 0
