.contact
    width: 100%
    // height: 100dvh
    position: relative
    padding-bottom: 160px

    @media (max-width: 560px) //to leave space for footer
        padding-bottom: 220px

.contactContent
    // display: flex
    // flex-direction: column
    // align-items: flex-start
    // justify-content: flex-end
    // gap: 16px
    // // font-size: 48pt
    // padding-bottom: 48px
    // max-width: 600px
    padding-top: 160px
    max-width: 800px

    @media (max-width: $logoBreakpoint2)
        // font-size: 10vw

    a
        border-bottom: 1px solid $font

.contactText
    padding-top: 16px
